<!-- See structure.html for the template names used here and their position in the layout. -->
{{define "title"}}Team Silverblue &mdash; Documentation{{end}}

{{define "body"}}
<article>
  <h1>Using Containers</h1>

  <h2>Running Your First Container</h2>
  <h2>Writing Your First Dockerfile</h2>
  <h2>Sharing Data Between Container and Host</h2>
  <h2>Using Buildah to Build Containers</h2>
  <h2>Using Podman to Run Containers</h2>
  <h2>Testing Containers locally</h2>

  <p><em>oc cluster up</em> allows developers to test server applications locally
  with ease, and then push them to production Kubernetes/OpenShift clusters.</p>

  <h2>Example Pet Container Usage</h2>

</article>
{{end}}
