<!-- See structure.html for the template names used here and their position in the layout. -->
{{define "title"}}Team Silverblue &mdash; Documentation{{end}}

{{define "body"}}
<article>
  <h1>Frequently Asked Questions</h1>

  <h2>Is it Team Silverblue, Silverblue, or Fedora Silverblue ?</h2>

  <p>We chose the name <em>Team Silverblue</em> to refer to the overall project.
  The shorter <em>Silverblue</em> will be used for the OS that we are producing,
  but calling it <em>Fedora Silverblue</em> is perfectly fine as well.</p>

  <h2>Why does the Silverblue logo look like a leaf?</h2>

  <p>Our favorite choice for a project name was Silverleaf, but that sadly
  did not work out. We just couldn't quite let go of the leaf.</p>

  <p>You could also say that Silverblue is a new new leaf on Fedora's OSTree :-)</p>

  <h2>Is Silverblue another GNOME OS?</h2>

  <p>GNOME OS was a codename that was used by the upstream GNOME project for a
  while to refer to the idea of designing the entire user experience from boot
  through login to the desktop. Silverblue by contrast is an effort inside the
  Fedora project, and will be built with existing Fedora and Project Atomic
  technologies. One aspect that the two efforts have in common is the desire
  to deliver a user experience that is polished and coherent.</p>
</article>
{{end}}
