<!-- See structure.html for the template names used here and their position in the layout. -->
{{define "title"}}Team Silverblue &mdash; Documentation{{end}}

{{define "body"}}
<article>
  <h1>Documentation</h1>

  <h2>What is Silverblue?</h2>

  <p><em>Silverblue</em> is the new face of Atomic Workstation from Project Atomic.
  With good support for container-focused workflows, this variant of Fedora Workstation
  targets developer communities.</p>

  <p>The use of rpm-ostree for the core OS brings fully atomic upgrades, easy rollbacks and
  workflows that are familiar from OSTree-based servers. Because rpm-ostree is a hybrid
  image/package system, it is also possible to layer RPMs for desktop applications
  which aren't yet Flatpaks, and for "OS extensions" such as powerline and ykclient.</p>

  <p>Moving desktop applications into Flatpak brings stronger isolation, and solves
  longstanding issues with using yum/dnf for desktop applications, such as the fact that
  upgrading deletes the files underneath the running application and often breaks it. (And
  we don't want most desktop applications in the base OSTree stream, since it is meant for
  the "base OS" which goes along with a kernel which requires a reboot).</p>

  <h2>What is Team Silverblue?</h2>

  <p><em>Team Silverblue</em> is the name we've given to the overall project whose goal
  it is to turn Fedora Atomic Workstation into Silverblue. This includes the OS itself,
  as well as tools and apps around container-focused workflows.</p>

  <h2>Learning More</h1>

  <p>The <a href="/gettingstarted">Getting Started</a> guide will help you take
  the first steps with Silverblue. You can learn more about the
  <a href="/anatomy">anatomy of the system</a> and the available
  <a href="/tools">tools</a>.</p>

  <h2>Other sources of information</h2>


  <p>This document explains the motivations, goals, and history behind the Team Silverblue effort:</p>

  <ul>
  <li><a href="/public/team-silverblue-origins.pdf">Team Silverblue - The Origins</a>
  </ul>

  <p>Matthias has written a series of blog posts about his experience learning his
  way around Silverblue, when it was still called Fedora Atomic Workstation:</p>

  <ul>
  <li><a href="https://blogs.gnome.org/mclasen/2018/02/08/first-steps-with-fedora-atomic-workstation/">First steps</a>
  <li><a href="https://blogs.gnome.org/mclasen/2018/02/11/fedora-atomic-workstation-what-about-apps/">What about apps?</a>
  <li><a href="https://blogs.gnome.org/mclasen/2018/02/14/fedora-atomic-workstation-building-flatpaks/">Building flatpaks</a>
  <li><a href="https://blogs.gnome.org/mclasen/2018/02/16/fedora-atomic-workstation-for-development/">For development</a>
  <li><a href="https://blogs.gnome.org/mclasen/2018/02/21/fedora-atomic-workstation-works-on-the-beach/">Works on the beach</a>
  <li><a href="https://blogs.gnome.org/mclasen/2018/02/24/fedora-atomic-workstation-on-the-road/">On the road</a>
  <li><a href="https://blogs.gnome.org/mclasen/2018/03/08/fedora-atomic-workstation-trying-things-out-the-easy-way/">Trying things out the easy way</a>
  <li><a href="https://blogs.gnome.org/mclasen/2018/03/16/fedora-atomic-workstation-ruling-the-commandline/">Ruling the commandline</a>
  <li><a href="https://blogs.gnome.org/mclasen/2018/03/22/fedora-atomic-workstation-almost-fool-proof/">Almost foolproof</a>
  <li><a href="https://blogs.gnome.org/mclasen/2018/04/03/fedora-atomic-workstation-beta/">Beta</a>
  <li><a href="https://blogs.gnome.org/mclasen/2018/04/16/fedora-atomic-workstation-developer-tools/">Developer tools</a>
  <li><a href="https://blogs.gnome.org/mclasen/2018/04/27/fedora-atomic-workstation-developer-tools-continued/">Developer tools, continued</a>
  <li><a href="https://blogs.gnome.org/mclasen/2018/04/29/fedora-atomic-workstation-theming-possible/">Theming possible</a>
  <li><a href="https://blogs.gnome.org/mclasen/2018/05/04/fedora-atomic-workstation-getting-comfortable-with-gnome-builder/">Getting comfortable with GNOME Builder</a>
  </ul>

</article>
{{end}}
