<!-- See structure.html for the template names used here and their position in the layout. -->
{{define "title"}}Team Silverblue &mdash; Documentation{{end}}

{{define "body"}}
<article>
  <h1>Other Sources of Information</h1>

  <p>This document explains the motivations, goals, and history behind the Silverblue effort:</p>

  <ul>
  <li><a href="/public/team-silverblue-origins.pdf">Team Silverblue - The Origins</a>
  </ul>

  <p>Here are handy one-page summaries of essential commands:</p>
  
  <ul>
  <li><a href="/public/flatpak-print-cheatsheet.pdf">Flatpak Cheat Sheet</a>
  <li><a href="/public/silverblue-cheatsheet.pdf">rpm-ostree Cheat Sheet</a>
  </ul>

  <p>The container commandos coloring book is a playful introduction to tools such
  as podman, cri-o and buildah by Máirín Duffy and Dan Walsh. Print it out, and learn
  as you color!</p>

  <ul>
  <li><a href="/public/container-commandos.pdf">Container commandos</a>
  </ul>

</article>
{{end}}
